<% require 'date' %>
<% time = DateTime.now %>
<center>
  <h1><%= @recommend.name %></h1>
  <h2><%= @recommend.meshitype %>のお店です、ワオワオ！</h2>
  <h2>開店しているのは<%= @recommend.openclose %>みたい！</h2>
  <h2>現在時刻は<%= time%>ですよ！</h2>
</center>
